.custom-contact{
    background: #f2f2f2 !important;
}

.custom-color-white{
    color: white !important;
}

.custom-color-green{
    color: rgb(0,255,168) !important;
}

.custom-bg-green{
    background: rgb(0,255,168) !important;
}

.custom-color-dark-blue{
    color: rgb(0, 32, 96) !important;
}

.custom-bg-dark-blue{
    background: rgb(0, 32, 96) !important;
}

.custom-bg-white{
    background: white !important;
}

.custom-bg-ice{
    background: rgb(200,200,200) !important;
}

.custom-color-gray{
    color: rgb(171, 171, 171) !important;
}

.custom-bg-gray{
    background: rgb(171, 171, 171) !important;
}

.custom-section{
    padding-top: 25px !important;
    padding-bottom: 25px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.custom-super-section{
    padding-top: 150px !important;
    padding-bottom: 150px !important;
    padding-left: 150px !important;
    padding-right: 150px !important;
}

.custom-destaque{
    border-width: thick !important;
    border-color: rgb(0,255,168) !important;
    border-radius: 50% !important;
}

.custom-brand{
    font-weight: bolder;
    font-size: large;
    color: rgb(0,32,96) !important;
    font-family: "Franklin Gothic Heavy";
}

.custom-brand:hover{
    font-weight: bolder;
    font-size: large;
    color: rgb(0,32,96) !important;
    text-decoration: none !important;
}

.custom-background-1{
    background: url(../img/blur/blur3.jpg) no-repeat 30% 30%;
}

.custom-background-2{
    background: url(../img/blur/blur2.jpg) no-repeat 30% 30%;
}

.custom-background-3{
    /*background: url(../img/bg/bg9.png) no-repeat 30% 30%;*/
    background: url(../img/bg/bg9.png) no-repeat;
    background-size:     cover;
    background-position: center center;
}

.custom-background-4{
    background: url(../img/bg/bg10.png) no-repeat;
    background-size:     cover;
    background-position: center center;
}

.custom-background-5{
    background: url(../img/blur/blur9.jpg) no-repeat;
    background-size:     cover;
    background-position: center center;
}

.custom-hover-color-dark-blue{

}

.custom-hover-color-dark-blue:hover{
    color: rgb(0, 32, 96) !important;
}

.custom-hover-bg-dark-blue{

}

.custom-hover-bg-dark-blue:hover{
    background: rgb(0, 32, 96) !important;
}

.custom-hover-color-gray{

}

.custom-hover-color-gray:hover{
    color: rgb(171,171,171) !important;
}

.custom-hover-bg-white{

}

.custom-hover-bg-white:hover{
    background: white !important;
}

.custom-hover-color-white{

}

.custom-hover-color-white:hover{
    color: white !important;
}

.custom-border-dark-blue {
    border-color: rgb(0,32,96) !important;
    border-width: 1px !important;
    border: solid !important;
}

.custom-desc-image{
    max-height: 150px !important;
}

.custom-desc-text{
    width: 100% !important;
    text-align: center !important;
}

.custom-padding-20{
    padding: 20px !important;
}

.custom-padding-40{
    padding: 40px !important;
}

.custom-mobile-padding-20{
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.custom-heading{
    font-size: 35px !important;
    line-height: 50px !important;
}

.custom-round{

}

.custom-fade-in-right{
    /*padding: 70px 30px 60px 85px;*/
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

.custom-fade-in-left{
    /*padding: 70px 30px 60px 85px;*/
    transition: all 0.3s ease-in-out;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}